$grey: #7b7b7b;
$aqua: #25dfe6;
$backgroundbutton: #f6f2f2;

div{
    max-width: 1000px;
    margin: auto; 
}

header {
    border: 1px solid $grey;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

h2{
    font-family: 'Fredoka One', sans-serif;
}

p{
    font-size: large;
}

ul{
    list-style-type: none;
    align-content: center;
    padding-left: 0;
}

.tabcontent {
    border: 1px solid $grey;
    border-top: 5px solid $aqua;
    padding-left: 1rem;
}

#title{
    font-family: 'Fredoka One', sans-serif;
    font-size: xx-large;
}

#buttonbox {
    display: flex;
    position:relative ;
    width: 100%;
    margin-bottom: 0;
}

.button {
    background-color: $backgroundbutton;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    border: .1px solid $grey;
    font-size:20px;
    padding:14px 23px;
    border-bottom: none;
    margin-right: .5rem;
}

.button.active {
    background-color: red;
    color: black;
  }

li:hover {
    background-color: $backgroundbutton;
}

li:active {
    position:relative;
    top:1px;
}

.isActive {
    background-color: red;
    border-bottom: 1px solid $aqua;
}